<h1>Productos</h1>
<ul class="lista_productos">
    {{#each listaProductos}}
        <li>{{title}}</li>
        <li>{{price}}</li>
        <li>{{thumbnail}}</li>
        <li>{{id}}</li>
    {{/each}}
</ul>

<form method="post" action = "http://localhost:8080/productos">
    nombre
    <input name="title" type="text"/>
    precio
    <input name="price" type="text"/>
    http
    <input name="thumbnail" type="text"/>
    <input type="submit" value="send"/>
</form>